@font-face {
    font-family: ballo-bhai;
    src: url('./font/baloo-bhai/baloo-bhai-regular.ttf');
}


h1, button {
    font-family: ballo-bhai;
}


*,
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}