.game-page {
  background-color: var(--second);
  height: 100vh;
}

._flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-head {
  width: 100%;
  height: auto;
  background-color: var(--primary);
}

.game-question {
  width: 100%;
  font-size: 2rem;
}

.game-head-wrapper {
  width: 90%;
  height: 200px;
}

.game-question-board{
  width: 90%;
  height: 300px;
  display: flex;
  margin: 40px auto;
}

.game-console {
  min-width: 70%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
}

.game-resposta {
  min-width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  justify-content: center;
  border-radius: 10px;

}

._hide {
  display: none;
}

.answer-button {
  width: auto;
  height: 40px;
  padding: 10px;
  border: none;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--blue);
}

.tag {
  width: 70%;
  height: 30%;
}

._resposta {
  width: 100%;
  height: 40px;
}