
._flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-head {
  width: 100%;
  height: auto;
  background-color: var(--primary);
  margin-bottom: 10px;
}

.game-question {
  width: 100%;
  
}


.game-head-wrapper {
  font-size: 2rem;
  width: 90%;
  height: 100px;
}

.game-question-board{
  width: 90%;
  display: flex;
  margin: 0 auto;
}

.game-console {
  min-width: 70%;
  border: 1px solid #000;
  margin-right: 1px;
}

.game-resposta {
  min-width: 30%;
  display: flex;
  flex-wrap: wrap;
  background-color: red;
  border: 1px solid #000;
}
