.game-page {
  background-color: var(--second);
  height: 100vh;
}

._flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-head {
  width: 100%;
  height: auto;
  background-color: var(--primary);
  margin-bottom: 10px;
}

.game-question {
  width: 100%;
  font-size: 2rem;
  
}


.game-head-wrapper {
  width: 90%;
  height: 100px;
}

.game-question-board{
  width: 90%;
  height: 300px;
  display: flex;
  margin: 40px auto;
}

.game-console {
  min-width: 70%;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.game-resposta {
  min-width: 30%;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary);
  border: 1px solid #000;
  justify-content: center;
  border-radius: 10px;

}


._hide {
  display: none;
}


.answer-button {
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  cursor: pointer;
  background-color: var(--blue);
}

.tag {
  width: 70%;
  height: 30%;
}

._resposta {
  width: 100%;
}
