.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head {
    width: 100%;
    height: auto;
    padding-top: 40px;
    background-color: var(--primary);
}

.wrapper__head {
    width: 90%;
    max-width: 1200px;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper__avatar {
    width: auto;
    height: auto;
    flex-direction: row;
}

.avatar {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50px;
    background-color: var(--second);
}

.wrapper__text {
    width: auto;
}

.wrapper__coin {
    flex-direction: row;
}

.coin {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 10px;
    background-color: var(--yellow);
}

.wrapper__head--center {
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 1px;
    flex-direction: column;
    align-items: flex-end;
}

.progress-bar {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    margin: 10px 0 40px;
    border: 1px solid var(--yellow);
}

/* Anime progress bar */
@keyframes loading {
    0% { width: 20px }
    100% { width: 20%}
}

.progress-bar {
    background-color: transparent;
    position: relative;
}

.progress-bar::after {
    animation: loading 3s  ease-in-out;
    background-color: var(--yellow);
    content: '';
    position: absolute;
    border-radius: 20px;
    left: 0; top: 0; bottom: 0;
    width: 20%;
}

/* Content */
.container {
    width: 100%;
    height: 200vh;
    background-color: var(--second);
}

.container__wrapper {
    width: 90%;
    height: 100%;
    margin: 40px 0;
}

.wrapper__stage {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    flex-direction: row;
}

.wrapper__icon-stage {
    width: 80%;
    height: auto;
    margin-left: 20px;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}

.icon-stage {
    width: 80px;
    height: 80px;
    margin: 40px;
    border-radius: 40px;
    z-index: 2;
    cursor: pointer;
    outline: 0;
    border: 0;
}

.link {
    z-index: 2;
}

.active {
    background-color: var(--yellow);
    transition: all .3s ease-in-out;
}
.active:hover {
    background-color: #c9c900;
}

.disable {
    cursor: auto;
    background-color: var(--primary);
}

.complete {
    box-sizing: border-box;
    background-color: green;
}

.checked {
    position: absolute;
    padding: .5rem .8rem;
    box-shadow: 1px -1px 0 1px #ffffff inset;
    -webkit-box-shadow: 2px -2px #ffffff inset;
    border: solid transparent;
    border-width: 0 0 .3em .3rem;
    transform: rotate(-50deg);
    cursor: pointer;
    transition: 0.3s;
}

.line {
    width: 80%;
    height: 4px;
    position: absolute;
    opacity: .5;
    z-index: 1;
    border-radius: 2px;
    background-color: var(--primary);
}

@media only screen and (max-width: 700px) {
    .container {
        height: auto;
    }

    .wrapper__stage,
    .wrapper__icon-stage {
        flex-direction: column;
    }

    .line {
        width: 4px;
        height: 100%;
    }

    .wrapper__icon-stage {
        margin-bottom: 40px;
    }

}